body{
  background-color: #fcfcfc;
}

#histTitle {
  /* top | right | bottom | left */
  margin: 0px auto 15px 35px;
}

#SrchTitle {
  /* top | right | bottom | left */
  margin: 0px auto 15px 35px;
}

.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
  border: 1px solid #4b4a4a70;
}

#SearchResult {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/*From https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations*/