<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <h1>Hi {{currentUser.firstName}}!</h1>

                <form [formGroup]="searchForm" (ngSubmit)="Search()">
                    <div class="form-group row justify-content-center">
                        <input id="email" type="text" formControlName="userEmail" Placeholder="Search for Emails" class="form-control" />

                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<br>
<!-- Display the report data {{ list.report_info.report_id }}-->
<div class="container-fluid" *ngIf="(list | json) != ({} | json)">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Report</h5>
            <div *ngFor="let name of list.names">
                <p class="card-text">{{ name.full }}</p>
            </div>
        </div>
    </div>
</div>