<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <h1>Hi {{currentUser.firstName}}!</h1>

                <form [formGroup]="searchForm" (ngSubmit)="Search()">
                    <div class="form-group row justify-content-center">
                        <input id="email" type="text" formControlName="userEmail" Placeholder="Search for Emails" class="form-control" />

                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<br>
<!-- Display the report data -->
<div class="container-fluid" *ngIf="Report">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Report ID: {{ Report.report_info.report_id }}</h5>
            <div class="row">
                <div class="col themed-grid-col">
                    <h4>Names</h4>
                    <div *ngFor="let name of Report.names">
                        <p class="card-text">{{ name.full }}</p>
                    </div>
                </div>
                <div class="col themed-grid-col">
                    <h4>Email Addresses</h4>
                    <div *ngFor="let email of Report.emails">
                        <p class="card-text">{{ email.email_address }}</p>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col themed-grid-col">
                    <h4>Social</h4>
                    <div *ngIf="Report.social.length; else elseBlock1">
                        <div *ngFor="let social of Report.social">
                            <p class="card-text">The API hasnt provided me the proprerties found on this array, You were
                                lucky to find one 😅</p>
                        </div>
                    </div>
                    <ng-template #elseBlock1>No social networks were found, just a stealthy person I guess. 🤔</ng-template>
                </div>
                <div class="col themed-grid-col">
                    <h4>Jobs</h4>
                    <div *ngIf="Report.jobs.length; else elseBlock2">
                        <div *ngFor="let job of Report.jobs">
                            <p class="card-text">The API hasnt provided me the proprerties found on this array, You were
                                lucky to find one 😅</p>
                        </div>
                    </div>
                    <ng-template #elseBlock2>No jobs were found, maybe this user has never worked before(?)</ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div *ngFor="let name of Report.names">
<p class="card-text">{{ name.full }}</p>
</div>
-->