<!-- nav -->
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #81b44c;">
    <div class="navbar-nav">
        <a class="nav-item active nav-link" routerLink="/">BeenVerified Test</a>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <h2>Register</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" formControlName="username" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control" />

                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>